{% extends "Base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login_forms.css" %}"/>
{% endblock %}

{% block content %}

<form class="main-box" method="post" action="{% url 'login' %}">
    <div class="content">
        {% csrf_token %}

        <h1 class="label">Вход в приложение</h1>

        <div class="sub-box">
            {% if form.errors %}
                {% for i in form.get_invalid_login_error  %}
                    {{ i }}
                {% endfor %}
            {% endif %}
        </div>

        {% if next %}
          {% if user.is_authenticated %}
            <p>Ваша учетная запись не имеет доступа к этой странице.
                Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, у которой есть доступ.
            </p>
          {% else %}
            <p>Пожалуйста, войдите в систему, чтобы увидеть эту страницу.</p>
          {% endif %}
        {% endif %}

        <div class="sub-box">

            <div class="FieldWrapper">
                <div class="InputField">
                    {{ form.username }}
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="InputField PassInput">
                    {{ form.password }}
                    <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                </div>
            </div>

            <a class="reset" href="{% url 'password_reset' %}">Забыли пароль?</a>

        </div>

        <div class="sub-box">

            <div class="FieldWrapper">
                <div class="BtnSubmit AccentBtn">
                    <input type="submit" value="Войти">
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="BtnSubmit LightBtn">
                    <input type="text" value="Зарегистрироваться" onclick="document.location='{% url 'Регистрация' %}'">
                </div>
            </div>


            <input type="hidden" name="next" value="{{ next }}" />

        </div>

    </div>
</form>

    <script src="{% static 'js/login_forms.js' %}"></script>
{% endblock %}
