{% extends "Base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login_forms.css" %}"/>
{% endblock %}

{% block content %}

<form class="main-box" method="post" action="{% url 'login' %}">
    <div class="contenet">
        {% csrf_token %}

        <h1 class="label">Вход в приложение</h1>

        {% if form.errors %}
            {% for i in form.get_invalid_login_error  %}
                {{ i }}
            {% endfor %}

        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Ваша учетная запись не имеет доступа к этой странице.
                Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, у которой есть доступ.
            </p>
          {% else %}
            <p>Пожалуйста, войдите в систему, чтобы увидеть эту страницу.</p>
          {% endif %}
        {% endif %}

        <div class="sub-box">

            <div class="input-box username">
                {{ form.username }}
            </div>

            <div class="input-box pass">
                {{ form.password }}
                <a href="#" class="password-control aye" onclick="return show_hide_password(this);">👁</a>
            </div>

            <a class="reset" href="{% url 'password_reset' %}">Забыл пароль</a>

        </div>

        <div class="sub-box">

            <div class="btn btn-blue">
                <input type="submit" value="войти">
            </div>

            <a class="btn btn-white" href="{% url 'Регистрация' %}">
                <div class="reg">
                    Зарегистрироваться
                </div>
            </a>

            <input type="hidden" name="next" value="{{ next }}" />

        </div>

    </div>
</form>

    <script src="{% static 'js/login_forms.js' %}"></script>
{% endblock %}
