{% extends "Base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/head.css" %}"/>
    <link rel="stylesheet" href="{% static "css/profile.css" %}"/>
{% endblock %}

{% block title %}Личный Кабинет{% endblock %}


{% block content %}
{% include "HeadMenu.html" %}

<form action="{% url 'logout' %}" method="post" class="label-box">
    {% csrf_token %}
    <h1>Профиль</h1>

    <button type="submit">Выйти</button>
</form>

<div class="main-box">
    <div class="sub-box">
        <div class="subscription-box  box">
            <div class="status">
                <div class="icon"></div>
                <h2>Подписка активна</h2>
            </div>

            <div class="detatil">
                Закончится 23 дек 2023, через 12 дней
            </div>

            <div class="FieldWrapper">
                <div class="BtnSubmit AccentBtn">
                  <button type="submit">Продлить на месяц</button>
                </div>
            </div>

        </div>

        <div class="notifications box">
            <div class="status">
                <h2>Уведомления</h2>
            </div>

            <div class="status">

                <div class="checkbox-wraper">
                    <input type="checkbox" id="switch"/>
                    <label class="for-switch" for="switch">Toggle</label>
                </div>

                <div class="text">
                    <h3 >Получать обновления подписок на почту</h3>
                </div>

            </div>

        </div>
    </div>

    <div class="sub-box">
        <form method="post" class="pass-reset  box">

            {% csrf_token %}

            <div class="status">
                <h2>Изменение пароля</h2>
                {{ user_password_form.errors }}
            </div>

            <div class="FieldWrapper">
                <div class="InputField PassInput">
                    {{ user_password_form.old_password }}
                    <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="InputField PassInput">
                    {{ user_password_form.new_password1 }}
                    <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="InputField PassInput">
                    {{ user_password_form.new_password2 }}
                    <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="BtnSubmit DarkBtn">
                  <button type="submit">Сохранить</button>
                </div>
            </div>

        </form>

        <div class="email-reset  box">

            <h2>Изменение почты</h2>


            <div class="detatil">
                Пришлем ссылку для подтверждения на текущую почту
            </div>

            <div class="FieldWrapper">
                <div class="InputField">
                    <input type="text" placeholder="Новая почта">
                </div>
            </div>

            <div class="FieldWrapper">
                <div class="BtnSubmit DarkBtn">
                  <button type="submit">Сохранить</button>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="{% static 'js/login_forms.js' %}"></script>

{% endblock %}