{% extends "Base.html" %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login_forms.css" %}"/>
{% endblock %}

{% block content %}

  <form class="main-box" method="post">
      <div class="content">
          {% csrf_token %}

          <h1 class="label">Регистрация</h1>

          <div class="sub-box">
              {% if form.errors %}
                    {% for i in form.get_invalid_login_error  %}
                        {{ i }}
                    {% endfor %}

                    {% for i in form.unique_error_message  %}
                        {{ i }}
                    {% endfor %}
              {% endif %}
          </div>

          <div class="sub-box">

                <div class="FieldWrapper">
                    <div class="InputField">
                        {{ form.username }}
                    </div>
                </div>

              <div class="FieldWrapper">
                    <div class="InputField">
                        {{ form.email }}
                    </div>
              </div>

            </div>

          <div class="sub-box">

                <div class="FieldWrapper">
                    <div class="InputField PassInput">
                        {{ form.password1 }}
                        <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                    </div>
                </div>

              <div class="FieldWrapper">
                    <div class="InputField PassInput">
                        {{ form.password2 }}
                        <img class='ShowHideAye' src="{% static 'images/show-pass.svg' %}" alt="" onclick="show_hide_password(this);">
                    </div>
              </div>

            </div>

            <div class="sub-box">

                <div class="FieldWrapper">
                    <div class="BtnSubmit AccentBtn">
                        <input type="submit" value="Далее">
                    </div>
                </div>

                <input type="hidden" name="next" value="{{ next }}" />

            </div>

      </div>

  </form>

  <script src="{% static 'js/login_forms.js' %}"></script>

{% endblock %}