{% extends "Base.html" %}
{% load static %}
{% block title %}Регистрация{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/login_forms.css" %}"/>
{% endblock %}

{% block content %}

  <form class="main-box" method="post">
  <div class="contenet">

    {% csrf_token %}
      <h2>Регистрация</h2>
      {% if form.errors %}
          <p>Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте снова.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Ваша учетная запись не имеет доступа к этой странице.
                Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, у которой есть доступ.
            </p>
          {% else %}
            <p>Пожалуйста, войдите в систему, чтобы увидеть эту страницу.</p>
          {% endif %}
        {% endif %}

      <div class="sub-box">

            <div class="input-box username">
                {{ form.username }}
            </div>

            <div class="input-box username">
                {{ form.email }}
            </div>

        </div>

      <div class="sub-box">


            <div class="input-box pass">
                {{ form.password1 }}
            </div>

            <div class="input-box pass">
                {{ form.password2 }}
            </div>

        </div>

        <div class="sub-box">

            <div class="btn btn-blue">
                <input type="submit" value="Далее">
            </div>

            <input type="hidden" name="next" value="{{ next }}" />

        </div>

  </div>
  </form>

    <script src="{% static 'js/login_forms.js' %}"></script>
{% endblock %}