.main-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.categories-box{
    background: var(--color-Major);
    grid-column: 1/2;
}

.content-box{
    grid-column: 2/6;
}

.search{

}

#reels-main-box{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}