.search{
  width: 100%;
  display: grid;
  background-color: var(--color-Bg);
  padding: 1vw 1vw;
  row-gap: 1vw;
}


.search .conrols{
  display: grid;
  grid-template-columns: 45% 12% auto 28%;
  column-gap: 1vw;
}

.SearchInput .InputField{
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.SearchInput .LightBtn{
  margin-left: 10px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}


.search .conrols .filters{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 1vw;
}

.search .conrols .filters h3{
  font-size: 14px;
  font-weight: 400;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
}

.search .conrols .filters img{
  align-self: center;
  justify-self: end;
  width: 14px;
  grid-row: 1/2;
}

.search .conrols .subscribe{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 1vw;
}

.search .conrols .subscribe h3{
  font-size: 14px;
  font-weight: 400;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
}

.search .conrols .subscribe img{
  align-self: center;
  justify-self: end;
  width: 14px;
  grid-row: 1/2;
}

.search .conrols .order{
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  padding: 0 1vw;
  grid-column: 4/5;
}

.search .conrols .order h3{
  font-size: 14px;
  font-weight: 400;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
}

.search .conrols .order img{
  align-self: center;
  justify-self: end;
  width: 14px;
  grid-row: 1/2;
}

@media (min-width: 1344px) {
  .search .conrols .box{
    height: 1.8vw;
  }
}

.search .curennt-filters{
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}

.search .curennt-filters .box{
  background-color: white;
  border-radius: 3px;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  padding: 0.4vw 1vw;
  display: grid;
  border: 2px solid #d9d9d9;

}

.search .curennt-filters .box h3{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  grid-row: 1/2;
  align-self: center;
  justify-self: start;
}

.search .curennt-filters .box img{
  align-self: center;
  justify-self: end;
  width: 100%;
  grid-row: 1/2;
}

.search .curennt-filters .box img:hover {
  cursor: pointer;
}

:root {
  --main-title-font: 24px;
  --filters-names-font: 14px;
  --filters-row-h: 2.2vw;
  --filters-rows-gap: 1vw;
  --filter-box-column-gap: 1vw;
  --border-width: 2px;
  --border-radius: 3px;
}

.filters-popUp{
  visibility: hidden;
  top: 0;
  position: fixed;
  z-index: 11111;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgba(0, 0, 0, 0.5);
}

.filters-popUp .close{

  width: calc(25vw * 0.127);
  height: calc(25vw * 0.127);
  display: grid;
  justify-content: center;
  align-items: center;
}

.filters-popUp .close:hover {
  cursor: pointer;
}

.filters-popUp .close img{
  width: calc(25vw * 0.0425);
}

.filters-popUp .box{
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  grid-column: 2/3;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(11, calc(var(--filters-row-h) * 2));
  padding: 6.38%;
  row-gap: var(--filters-rows-gap);
}


.filters-popUp .box::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.filters-popUp .box .main-title{

  font-family: "Roboto", sans-serif;
  font-size: var(--main-title-font);
  font-weight: 400;
}

.filters-popUp .box p{
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: var(--filters-names-font);
  font-weight: 400;
}

.filters-popUp .box .filter-box{
  display: grid;
  column-gap: var(--filter-box-column-gap);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.filters-popUp  .input-box{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  border-radius: var(--border-radius);
  border: var(--border-width) solid #d9d9d9;
}

.filters-popUp  input{
  font-family: "Roboto", sans-serif;
  font-size: var(--filters-names-font);
  font-weight: 400;
  border: none;
  height: 95%;
  justify-self: center;
  width: 90%;
}

.filters-popUp input::-webkit-outer-spin-button,
.filters-popUp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.filters-popUp  input:focus {
  outline-width: 0;
}

.filters-popUp .title{
  grid-column: 1/3;
}


.filters-popUp .q .input-box{
  grid-column: 1/3;
}

.filters-popUp .where select{
  grid-column: 1/3;
  font-family: "Roboto", sans-serif;
  font-size: var(--filters-names-font);
  font-weight: 400;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: white;
  border: var(--border-width) solid #d9d9d9;
}

.filters-popUp .where select:focus{
  outline-width: 0;
}

.filters-popUp .without .title{
  font-size: var(--filters-names-font);
}

.filters-popUp .without .input-box{
  grid-column: 1/3;
  font-size: var(--filters-names-font);
}

.filters-popUp .subs .title{
  font-size: var(--filters-names-font);
}

.filters-popUp .input-box-par{
  width: 100%;
  height: 100%;;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  border-radius: var(--border-radius);
  border: var(--border-width) solid #d9d9d9;
}

.filters-popUp .input-box-par p{
  align-self: center;
  justify-self: center;
  color: #d9d9d9;
}

.filters-popUp .input-box-par input{
  align-self: center;
  justify-self: center;
  height: 90%;
}


.filters-popUp .btns{
  margin-top: var(--filters-rows-gap);
  row-gap:  var(--filters-rows-gap);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.filters-popUp .btns .clear{
  grid-column: 1/3;
  height: var(--filters-row-h);
  background-color: white;
  display: grid;
  justify-content: center;
  border-radius: var(--border-radius);
  border: var(--border-width) solid #d9d9d9;
}

.filters-popUp .btns .clear:hover{
  cursor: pointer;
}

.filters-popUp .btns .apply{
  grid-column: 1/3;
  height: var(--filters-row-h);
  background-color: #1890ff;
  display: grid;
  justify-content: center;
  border-radius: var(--border-radius);
}

.filters-popUp .btns .apply:hover{
  cursor: pointer;
}


.filters-popUp .btns .apply p{
  color: white;
}

.filters-popUp .main-title-box{
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.filters-popUp .main-title-box .close{
  justify-self: end;
}

.filters-popUp .main-title-box .main-title{
  align-self: center;
}

@media (min-width: 600px) and (max-width: 704px) {
  .filters-popUp{
    grid-template-columns: 1fr 1fr;
  }

  :root {
    --main-title-font: 24px;
    --filters-names-font: 14px;
    --filters-row-h: 4vw;
    --filters-rows-gap: 2vw;
    --filter-box-column-gap: 2vw;
    --border-width: 2px;
    --border-radius: 3px;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .filters-popUp{
    grid-template-columns: 1.5fr 1fr;
  }

  :root {
    --main-title-font: 24px;
    --filters-names-font: 14px;
    --filters-row-h: 3vw;
    --filters-rows-gap: 2vw;
    --filter-box-column-gap: 1.5vw;
    --border-width: 1px;
    --border-radius: 3px;
  }
}

@media (min-width: 900px) and (max-width: 1300px) {
  .filters-popUp{
    grid-template-columns: 1.5fr 1fr;
  }

  :root {
    --main-title-font: 26px;
    --filters-names-font: 17px;
    --filters-row-h: 4vw;
    --filters-rows-gap: 1vw;
    --filter-box-column-gap: 1vw;
    --border-width: 1px;
    --border-radius: 3px;
  }
}

@media (min-width: 1300px) and (max-width: 2198px) {
  .filters-popUp{
    grid-template-columns: 3fr 1fr;
  }

  :root {
    --main-title-font: 32px;
    --filters-names-font: 16px;
    --filters-row-h: 2vw;
    --filters-rows-gap: 2vw;
    --filter-box-column-gap: 1vw;
    --border-width: 1px;
    --border-radius: 3px;
  }
}

@media (min-width: 2198px) and (max-width: 2600px) {
  .filters-popUp{
    grid-template-columns: 3fr 1fr;
  }

  :root {
    --main-title-font: 50px;
    --filters-names-font: 28px;
    --filters-row-h: 2vw;
    --filters-rows-gap: 1.3vw;
    --filter-box-column-gap: 1vw;
    --border-width: 1px;
    --border-radius: 3px;
  }
}