<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reel_detailed.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reels_card.css" %}"/>
    <link rel="stylesheet" href="{% static "css/head.css" %}"/>
    <link rel="stylesheet" href="{% static "css/search.css" %}"/>

    <script src="{% static 'js/Player.js' %}"></script>
    <script src="{% static 'js/ReelPopUp.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

    {% include "HeadMenu.html" %}
    {% include "search.html" %}
    {% include "ReelCard.html" %}
    {% include "ReelPopUp.html" %}
</body>
</html>