{% extends "Base.html" %}
{% load static %}

{% block title %}Rels Scanner{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/HeadMenu.css" %}"/>
    <link rel="stylesheet" href="{% static "css/SearchLine.css" %}"/>
    <link rel="stylesheet" href="{% static "css/Filters.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ReelCard.css" %}"/>
{% endblock %}

{% block js %}
    <script src="{% static "js/Filters.js" %}"></script>
    <script src="{% static "js/ReelCard.min.js" %}"></script>

{% endblock %}

{% block content %}

    {% include "HeadMenu.html" %}
    <script>
        document.querySelector('.header-inner #main-href').classList.add("is-active");
    </script>

    {% include "registration/Login.html" %}
    {% include "registration/Register.html" %}
    {% include "registration/CheckEmail.html" %}
    {% include "registration/PasswordResetForm.html" %}

    <div id="EmailConfirmed" data-modal="modal-mail-send" style="visibility: hidden;">

    </div>

    <div class="service-name-mob">
        <div class="container">
            <p>Reels Scanner</p>
        </div>
    </div>

    <div class="wrapper wrapper--padding-top">

        {% include "SearchLine.html" %}
        {% include "Filters.html" %}

        <div class="reelsSection">
            <div class="container">
                <div class="reelsSection__wp">
                </div>
            </div>
        </div>

    </div>

    {% if user.is_authenticated %}
        {% include "ReelPopUp.html" %}
        <script>
            const stored = []
            let par = window.location.search
            console.log(par)

            let requestURL = 'https://reelsscanner.com/api/reels/' + par
            const xhr = new XMLHttpRequest()


            urlParams = new URLSearchParams(par)



            function RemoveFilter() {
                let filter_name = this.attributes["data-filer-name"].value
                let parm = window.location.search.substring(1).split('&')
                let to_remove = []
                for (let i = 0; i < parm.length; i++) {
                    let parm_name = parm[i].split('=')[0]
                    if (parm_name === filter_name) {
                        console.log('-->', parm_name)
                        to_remove.push(i)
                    }
                }

                for (let i = 0; i < to_remove.length; i++) {
                    parm.splice(to_remove[i], 1)
                }
                let replaceUrl = window.location.origin + '?' + parm.join('&')
                window.location.replace(replaceUrl)
            }

            function RemoveAllFilters() {
                console.log(window.location.href.split('?')[0])
                window.location.replace(window.location.href.split('?')[0])
            }

            current_filter_box = document.querySelector('.filter-results')

            let q = urlParams.get('q')
            let q_boxs = document.querySelectorAll('.input-group #q')

            for (let i = 0; i < q_boxs.length; ++i) {
                q_boxs[i].value = q;
            }

            let ignore = urlParams.getAll("ignore");
            ignore = ignore.join(", ")
            document.querySelector('#ignore').value = ignore


            let filters_list = [
                'scope',
                'subs_start', 'subs_end',
                'views_start', 'views_end',
                'like_start', 'like_end',
                'comment_start', 'comment_end',
                'shares_start', 'shares_end'
            ]

            filters_text = {
                'subs_start': 'Подписчиков от: ',
                'subs_end': 'Подписчиков до: ',
                'views_start': 'Просмотров от: ',
                'views_end': 'Просмотров до: ',
                'like_start': 'Лайков от: ',
                'like_end': 'Лайков до: ',
                'comment_start': 'Комментариев от: ',
                'comment_end': 'Комментариев до: ',
                'shares_start': 'Репостов от: ',
                'shares_end': 'Репостов до: ',

            }

            let filters_displayed_under_search = 0
            for (let i = 0; i < filters_list.length; ++i) {
                let par = urlParams.get(filters_list[i])

                if (par !== null && par !== '') {
                    document.querySelector('#' + filters_list[i]).value = par
                    if (filters_list[i] !== 'scope') {
                        filters_displayed_under_search += 1
                        let filter_text = filters_text[filters_list[i]] + par
                        let filter_name = filters_list[i]
                        current_filter_box.innerHTML += `{% include 'delete_filter_btn.html' %}`
                    }
                }
            }

            if (filters_displayed_under_search > 1) {
                current_filter_box.innerHTML += `{% include 'clear_filters_btn.html' %}`
            }

            function getFiltersCount() {
                let filters = document.querySelectorAll('[data-filer-name]')
                if (filters.length>0) {
                    document.querySelector('.filters-counts').textContent = `(${filters.length})`
                }
            }

            getFiltersCount()

            let scope = urlParams.get('scope')
            if (scope) {
                let scope_input = document.querySelectorAll('#scope')
                let scope_text = document.querySelector('[data-value="'+ scope +'"]').textContent
                for (let i = 0; i < scope_input.length; ++i) {
                    scope_input[i].setAttribute('data-default-value', scope)
                    scope_input[i].parentElement.querySelector('.simple-select__selected').textContent = scope_text
                }
            }


            function sendRequests() {
                xhr.open('GET', requestURL, true)

                xhr.responseType = 'json'

                xhr.onload = () => {
                    console.log(xhr.response)
                    requestURL = xhr.response.next
                    let reels = xhr.response.results
                    console.log(reels)
                    render(reels);
                }

                xhr.send()
            }

            sendRequests();

            function render(data) {
                for (let i = 0; i < data.length; i++) {

                    let video_src = '/static/video/' + data[i]['id'] + '.mp4'
                    let poster_src = '/static/posters/' + data[i]['id'] + '.jpg'
                    stored.push(data[i])
                    let date = new Date(data[i]['published_stamp'])

                    let time = [date.getHours(), date.getMinutes()].map(function (x) {
                      return x < 10 ? "0" + x : x
                    }).join(":")

                    let int_fields = ['views', 'likes', 'comments', 'shares']
                    for (let j = 0; j < int_fields.length; ++j) {
                        data[i][int_fields[j]] = new Intl.NumberFormat('en',
                            { notation: 'compact', maximumFractionDigits: 1 }).format(data[i][int_fields[j]]);
                    }
                    data[i]['author']['subscribers'] = new Intl.NumberFormat('en',
                        { notation: 'compact', maximumFractionDigits: 1 }).format(data[i]['author']['subscribers']);


                    data[i]['published_stamp'] = `${date.getDate()}.${date.getMonth()+1}.${date.getFullYear()} в ${time}`
                    document.querySelector(".reelsSection__wp").innerHTML += `{% include "ReelCard.html" %}`
                }
            }

            function next_page() {
                console.log('->', requestURL);
                if (requestURL) {
                    xhr.open('GET', requestURL, true)
                    xhr.send()
                }
            }

            const reels_box = document.querySelector('#reels-main-box')


            function onScrollEnd() {
                if (window.innerHeight + window.scrollY >= reels_box.scrollHeight) {
                    console.log('Достигнут конец страницы!');

                    next_page();

                    if (requestURL === null) {
                        window.removeEventListener('scroll', onScrollEnd);
                    }
                }
            }

            // Подписка на событие прокрутки с применением debounce
            window.addEventListener('scroll', onScrollEnd);
        </script>
    {% endif %}

    {% if FormsErrors %}
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            let reg_btn = document.querySelector('#{{ FormsErrors }}')
            console.log(reg_btn)
            reg_btn.click()
        })
        </script>
    {% endif %}

    <script src="{% static "js/SearchLine.min.js" %}"></script>
{% endblock %}