<div class="default-modal modal-reels is-active">
<div class="default-modal__content">
<div class="modal-reels__left">
<div class="reelsCard">
<div class="reelsCard__main">
<video class="reelsCard__img" src="img/dzhentelmeni.mp4" data-src="img/dzhentelmeni.mp4" poster="img/rcard.png" loop=""></video>
<div class="reelsCard__videoPlay">
<svg width="32" viewBox="0 0 32 32">
<use xlink:href="#icon-play"></use>
</svg>
</div>
</div>
</div>
</div>
<div class="modal-reels__right">
<div class="default-modal__close" data-modal-close=""><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M24.9247 23.9992L29.6122 18.4117C29.6908 18.3188 29.6247 18.1777 29.5033 18.1777H28.0783C27.9944 18.1777 27.914 18.2152 27.8587 18.2795L23.9926 22.8884L20.1265 18.2795C20.0729 18.2152 19.9926 18.1777 19.9069 18.1777H18.4819C18.3604 18.1777 18.2944 18.3188 18.3729 18.4117L23.0604 23.9992L18.3729 29.5867C18.3553 29.6074 18.344 29.6327 18.3404 29.6596C18.3368 29.6865 18.3409 29.7139 18.3524 29.7386C18.3639 29.7632 18.3822 29.784 18.4051 29.7985C18.4281 29.8131 18.4547 29.8207 18.4819 29.8206H19.9069C19.9908 29.8206 20.0712 29.7831 20.1265 29.7188L23.9926 25.1099L27.8587 29.7188C27.9122 29.7831 27.9926 29.8206 28.0783 29.8206H29.5033C29.6247 29.8206 29.6908 29.6795 29.6122 29.5867L24.9247 23.9992Z" fill="black" fill-opacity="0.45"></path>
</svg>
</div>
<div class="modal-reels__topBlock">
<div class="default-modal__inner">
<div class="modal-reels__userName">@zalia_007_ 4</div>
</div>
<div class="modal-reels__mainCounts">
<div class="modal-reels__countItem modal-reels__countPulications"><span>Публикаций</span>
<p>4</p>
</div>
<div class="modal-reels__countItem modal-reels__countSubscribers"><span>Подписчиков</span>
<p>1257944</p>
</div>
<div class="modal-reels__countItem modal-reels__countSubscriptions"><span>Подписок</span>
<p>44</p>
</div>
</div>
<div class="modal-reels__mainDescr modal-reels__mainDescrTop">(4)Чувство природы врождённо нам всем, от грубого дикаря до самого образованного человека. (2)Противоестественное воспитание, насильственные понятия, ложное направление, ложная жизнь - всё это вместе стремится заглушить мощный голос природы и часто заглушает это чувство или даёт ему искажённое развитие.</div>
<div class="modal-reels__mainBtns"> <a class="btn btn--blue" href="#"><span class="btn__inner">Все reels автора</span></a>
<button class="btn btn--blue" type="button"><span class="btn__inner">Подписаться</span></button>
</div>
</div>
<div class="modal-reels__topBlock">
<div class="default-modal__inner">
<div class="modal-reels__userName">О reels</div>
</div>
<div class="modal-reels__mainDescr modal-reels__mainDescrBottom">4 Dr.Aizada Врач-косметологсо стажем 12 лет 🏆🫦 Контурная пластика💉 Инъекционная косметология📍Жанаузень ТД Шанырак, 2-этаж📍Актау 19.36/1</div>
<div class="modal-reels__reelsCounts">
<div class="modal-reels__reelsCount modal-reels__reelsCountViews">
<svg width="24" viewBox="0 0 24 24">
<use xlink:href="#icon-play"></use>
</svg><span>1307004</span>
</div>
<div class="modal-reels__reelsCount modal-reels__reelsCountLikes">
<svg width="24" viewBox="0 0 24 24">
<use xlink:href="#icon-like"></use>
</svg><span>580004</span>
</div>
<div class="modal-reels__reelsCount modal-reels__reelsCountComments">
<svg width="24" viewBox="0 0 24 24">
<use xlink:href="#icon-comment"></use>
</svg><span>25004</span>
</div>
<div class="modal-reels__reelsCount modal-reels__reelsCountShares">
<svg width="24" viewBox="0 0 24 24">
<use xlink:href="#icon-share"></use>
</svg><span>3 8324</span>
</div>
</div>
<div class="modal-reels__mainBtns"> <a class="btn" href="#"><span class="btn__inner">Скачать</span></a>
<button class="btn" type="button"><span class="btn__inner">В избранное</span></button>
</div>
<div class="modal-reels__mainBtn"><a class="btn" href="#"><span class="btn__inner">Открыть в Instagram</span></a></div>
</div>
</div>
</div>
</div>