{% load static %}
<div class="search">

    <div class="titel">
      <span style="color: #1890ff;">797 reels</span> в подборке «Бизнес»
    </div>

    <div class="conrols">
        <form action="" method="get" class="SearchInput">
            <div class="FieldWrapper">
                <div class="InputField">
                    <input name="q" id="q" placeholder="Ваш запрос" type="search">
                </div>
            </div>
            <div class="FieldWrapper">
                <button type="submit" class="BtnSubmit LightBtn stretchBtn">
                  <img src="{% static "images/scope.svg" %}" alt="">
                </button>
            </div>
        </form>


        <div class="FieldWrapper">
                <button type="submit" class="BtnSubmit LightBtn stretchBtn" onclick="open_filters();">
                  <img src="{% static "images/filter.svg" %}" alt="">
                    Фильтры
                </button>
        </div>

        <div class="FieldWrapper">
                <button type="submit" class="BtnSubmit LightBtn stretchBtn">
                  <img src="{% static "images/bell.svg" %}" alt="">
                    Подписаться
                </button>
        </div>

        <div class="FieldWrapper">
                <div class="InputField SelectInput">
                    <select name="где искать" id="q_where">
                      <option value="play">По количеству просмотров ↓</option>
                      <option value="like">Лайки</option>
                    </select>
                </div>
            </div>



    </div>

    <div class="curennt-filters">
      <div class="box">
        <h3>Просмотров: от 20 000</h3>
        <img src="{% static "images/close.svg" %}" alt="">
      </div>

      <div class="box">
        <h3>Подписчиков: от 1000</h3>
        <img src="{% static "images/close.svg" %}" alt="">
      </div>

      <div class="box">
        <h3>Сбросить все</h3>
        <img src="{% static "images/close.svg" %}" alt="">
      </div>
    </div>
</div>


<div class="filters-popUp">
    <div class="box">

      <div class="main-title-box">

        <div class="main-title">Фильтры</div>

        <div class="close" onclick="close_filters();" >
          <img src="{% static "images/close.svg" %}" alt="">
        </div>
      </div>



      <div class="q filter-box">
        <p class="title">Поисковый запрос</p>
        <div class="input-box">
          <input name="поисковой запрос" id="q">
        </div>
      </div>

      <div class="where filter-box">
        <p class="title">Где искать</p>
        <select name="где искать" id="q_where">
          <option value="dis">В описании рилcа</option>
          <option value="author_dis">В названии</option>
        </select>
      </div>

      <div class="without filter-box">
        <p class="title">Исключить аккаунт (@user1, @user2)</p>
        <div class="input-box">
          <input name="Исключить аккаунт" id="ignore">
        </div>

      </div>

       <div class="subs filter-box">
        <p class="title">Подписчиков</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="subs_start" type="number">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="subs_end" type="number">
        </div>

      </div>

      <div class="views filter-box">
        <p class="title">Просмотров reels</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="views_start" type="number">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="views_end" type="number">
        </div>

      </div>

      <div class="like filter-box">
        <p class="title">Лайков</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="like_start" type="number">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="like_end" type="number">
        </div>

      </div>

      <div class="like filter-box">
        <p class="title">Комментариев</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="comment_start" type="number">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="comment_end" type="number">
        </div>

      </div>

      <div class="like filter-box">
        <p class="title">Репостов</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="start" type="number">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="end" type="number">
        </div>

      </div>

      <div class="like filter-box">
        <p class="title">Дата публикации</p>

        <div class="input-box-par start">
          <p class="">от</p>
          <input  id="start">
        </div>

        <div class="input-box-par">
          <p class="">до</p>
          <input  id="end">
        </div>

      </div>

      <div class="btns">
        <div class="clear">
          <p>Сбросить все</p>

        </div>
        <div class="apply" onclick="apply_filters.apply(this)">
          <p>Применить</p>

        </div>
      </div>
    </div>
</div>

<script>
    function open_filters() {
      document.querySelector('.filters-popUp').style.visibility = 'visible';
    }

    function close_filters() {
      document.querySelector('.filters-popUp').style.visibility = 'hidden';
    }
</script>