<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reels_card.css" %}"/>
    <link rel="stylesheet" href="{% static "css/reel_detailed.css" %}"/>
    <link rel="stylesheet" href="{% static "css/search.css" %}"/>

    <script src="{% static 'js/Player.js' %}"></script>
    <script src="{% static 'js/ReelPopUp.js' %}"></script>
    <script src="{% static 'js/apply_filter.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body id="main" style="height: 110vh;">
    {% include "search.html" %}

    <div class="reels-main-box" id="reels-main-box">

    </div>

    <script>
        const stored = []
        let par = window.location.search

        let requestURL = 'http://127.0.0.1:8000/api/reels/' + par
        const xhr = new XMLHttpRequest()

        urlParams = new URLSearchParams(par)


        let q = urlParams.get('q')

        let q_boxs = document.querySelectorAll('.input-box #q')
        for (let i = 0; i < q_boxs.length; ++i) {
            q_boxs[i].value = q;
        }

        let ignore = urlParams.getAll("ignore");
        ignore = ignore.join(", ")
        document.querySelector('#ignore').value = ignore


        let counts_filters = [
            'q_where',
            'subs_start', 'subs_end',
            'views_start', 'views_end',
            'like_start', 'like_end',
            'comment_start', 'comment_end'
        ]

        for (let i = 0; i < counts_filters.length; ++i) {
            let par = urlParams.get(counts_filters[i])
            if (par !== null){
                document.querySelector('#' + counts_filters[i]).value = par
            }
        }



        function sendRequests() {
            xhr.open('GET', requestURL, true)

            xhr.responseType = 'json'

            xhr.onload = () => {
                console.log(xhr.response)
                requestURL = xhr.response.next
                let reels = xhr.response.results

                render(reels);
            }

            xhr.send()
        }

        sendRequests();

        function render(data) {
            for (let i = 0; i < data.length; i++){

                let video_src = '/static/video/' + data[i]['id'] + '.mp4'
                let poster_src = '/static/posters/' + data[i]['id'] + '.jpg'
                stored.push(data[i])
                document.getElementById("reels-main-box").innerHTML += `<div id="${stored.length-1}">{% include "ReelCard.html" %}</div>`
            }
        }

        function next_page() {
            console.log(requestURL);
            if (requestURL) {
                xhr.open('GET', requestURL, true)
                xhr.send()
            }
        }

        const reels_box = document.querySelector('#reels-main-box')


        function onScrollEnd() {
            if (window.innerHeight + window.scrollY >= reels_box.scrollHeight) {
                console.log('Достигнут конец страницы!');

                next_page();

                if (requestURL === null){
                    window.removeEventListener('scroll', onScrollEnd);
                }
            }
        }

        // Подписка на событие прокрутки с применением debounce
        window.addEventListener('scroll', onScrollEnd);
    </script>



    <style>
        #reels-main-box{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5vw;
            justify-content: center;
            align-items: center;
        }
    </style>



    {% include "ReelPopUp.html" %}
</body>
</html>