<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Оферта</title>
    <meta name="changedby" content=" "/>
    <style type="text/css">
        @page {
            size: 21cm 29.7cm;
            margin-left: 1.75cm;
            margin-right: 1.31cm;
            margin-top: 1.75cm;
            margin-bottom: 1.75cm
        }

        p {
            text-align: left;
            orphans: 0;
            widows: 0;
            margin-bottom: 0cm;
            direction: ltr;
            background: transparent
        }

        p.western {
            font-family: "Calibri", serif;
            so-language: ru-RU
        }

        p.cjk {
            font-family: "Calibri"
        }

        p.ctl {
            font-family: "Calibri"
        }

        a{
            text-decoration: none !important;
        }

        a:link {
            color: #1890ff;
            text-decoration: none !important;
        }

        a:visited {
            color: #1890ff;
            text-decoration: none !important;
        }

        u {
            text-decoration: none !important;
        }

        u b{
            text-decoration: underline;
        }
    </style>
</head>
<body lang="en-US" link="#0000ff" vlink="#800080" dir="ltr"><p lang="ru-RU" style="margin-right: 0.13cm;text-align: center">
    <font face="Times New Roman, serif"><font size="4" style="font-size: 16pt"><span
            style="font-variant: small-caps"><font ><font size="4" style="font-size: 16pt"><span
            style="letter-spacing: 0.3pt"><span style="font-weight: normal">Публичная
оферта</span></span></font></font></span></font></font></p>
<p lang="ru-RU" style="margin-right: 0.13cm;text-align: center"><font face="Times New Roman, serif"><font size="4"
                                                                                                      style="font-size: 14pt"><b><font
        ><font face="Calibri, serif">для
    сайта </font></font><font color="#0000ff"><u><a
        href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>
    <font><font face="Calibri, serif"> </font></font></b></font></font>
</p>
<p lang="ru-RU" align="center" style="font-weight: normal; margin-right: 0.13cm">
    <br/>

</p>
<p lang="ru-RU" class="western" style="text-align: center"><font face="Calibri, serif"><font size="3" style="font-size: 12pt"><b>Термины
    и определения</b></font></font></p>
<p lang="ru-RU" class="western" align="justify"><font face="Calibri, serif"><u><b>Оферта</b></u></font><font
        face="Calibri, serif">
    - </font><font face="Calibri, serif">публичное предложение
    Исполнителя, адресованное любому
    юридическому или физическому лицу
    (гражданину), обладающему необходимой
    право- и дееспособностью для заключения
    и исполнения настоящего Договора (далее
    – «Договор») на предусмотренных в нем
    условиях, включая все его приложения.</font></p>
<p lang="ru-RU" class="western" align="justify"><font face="Calibri, serif"><u><b>Акцепт</b></u></font><font
        face="Calibri, serif">
    - полное и безоговорочное принятие
    Заказчиком условий Договора.</font></p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><u><b><span
        style="background: #ffffff">Сайт</span></b></u></font></font><font color="#202122"><font
        face="Calibri, serif"><span style="background: #ffffff">
– </span></font></font>совокупность информации,
    текстов, графических элементов, дизайна,
    изображений, фото и видеоматериалов и
    иных результатов интеллектуальной
    деятельности, а также программ для ЭВМ,
    содержащихся в информационной системе,
    обеспечивающей доступность такой
    информации в сети Интернет, объединенных
    единым адресным пространством доменов,
    включающее, но не ограничивающееся
    следующим доменным именем<font color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">
</span></font></font><font color="#0000ff"><u><a
            href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>.
    <font color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">
</span></font></font>
</p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><u><b><span
        style="background: #ffffff">Сервис
Сайта (далее «Сервис»)</span></b></u></font></font><font color="#202122"><font face="Calibri, serif"><span
        style="background: #ffffff">
– специализированное программное
обеспечение, внедренное на Сайте,
позволяющее Заказчикам использовать
функционал Сайта для поиска и фильтрации
популярных видео Instagram Reels с более чем
100 тыс. просмотров. Сервис на основании
агрегированных таких видео дает Заказчику
возможность искать идеи для создания
собственных Reels, фильтровать по ключевым
словам, дате, количеству лайков,
комментариев и просмотров.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><u><b><span
        style="background: #ffffff">Личный
кабинет</span></b></u></font></font><font color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">
— это персональное рабочее пространство
Пользователя в рамках Сайта, доступное
после прохождения процедуры регистрации
на Сайте и авторизации.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><b><span
        style="background: #ffffff">Instagram
*</span></b></font></font><font color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">&nbsp;–&nbsp;</span></font></font><font
        color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">это</span></font></font><font
        color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">&nbsp;социальная
сеть, использующая в качестве публикаций
фотографии или видеозаписи.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><b><span
        style="background: #ffffff">Reels</span></b></font></font><font color="#202122"><font
        face="Calibri, serif"><span style="background: #ffffff">&nbsp;(рилс)
—&nbsp;</span></font></font><font color="#202122"><font face="Calibri, serif"><span
        style="background: #ffffff">это</span></font></font><font color="#202122"><font face="Calibri, serif"><span
        style="background: #ffffff">&nbsp;формат
коротких вертикальных видео в&nbsp;</span></font></font><font color="#202122"><font face="Calibri, serif"><span
        style="background: #ffffff">Instagram</span></font></font><font color="#202122"><font
        face="Calibri, serif"><span style="background: #ffffff">,
которые длятся от 15 до 90 секунд.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify"><font color="#202122"><font face="Calibri, serif"><u><b><span
        style="background: #ffffff">Заказ</span></b></u></font></font><font color="#202122"><font face="Calibri, serif"><span
        style="background: #ffffff">
- оформленная и оплаченная Заявка
Заказчика в форме обратной связи.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.05cm">
    <font color="#202122"><font face="Calibri, serif"><u><b><span
            style="background: #ffffff">Заказчик</span></b></u></font></font><font color="#202122"><font
        face="Calibri, serif"><span style="background: #ffffff">
– любое юридическое или физическое
лицо, обладающее необходимой право- и
дееспособностью для заключения и
исполнения настоящего Договора,
осуществившее Акцепт настоящей Оферты
и являющееся таким образом потребителем
функционала Сайта по заключенному
Договору.</span></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.05cm">
    <font color="#202122"><font face="Calibri, serif"><u><b><span
            style="background: #ffffff">Пользователь</span></b></u></font></font><font color="#202122"><font
        face="Calibri, serif"><b><span style="background: #ffffff">
</span></b></font></font><font color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">–
любой посетитель Сайта </span></font></font><font color="#0000ff"><u><a href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>.
</p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.05cm">
    <font color="#202122"><font face="Calibri, serif"><u><b><span style="background: #ffffff">Исполнитель</span></b></u></font></font><font
        color="#202122"><font face="Calibri, serif"><span style="background: #ffffff">
– владелец Сайта </span></font></font><font color="#0000ff"><u><a href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>,
    ИП Семёнов Иван Геннадьевич, ИНН
    253814202111, ОГРНИП 325253600000984.</p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.05cm">
    <u><b>Личный кабинет</b></u> — это рабочее
    пространство Пользователя в рамках
    Сайта, доступное после прохождения
    процедуры регистрации на Сайте и
    авторизации.<b> </b>
</p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.05cm">
    <font face="Calibri, serif"><u><b><span style="background: #ffffff">Персональные
данные</span></b></u></font><font face="Calibri, serif"><span style="background: #ffffff">
— данные, содержащие любую информацию
о Пользователе (фамилия, имя, отчество,
адрес электронной почты, номер телефона,
ник в мессенджерах/соцсетях, другая
информация, связанная с использованием
функций Сайта, которую Пользователь
указывает по своему усмотрению).</span></font></p>
<p lang="ru-RU" class="western" align="justify"><br/>

</p>
<ol>
    <li><p lang="ru-RU" align="center" style="margin-top: 0cm"><font size="3"
                                                                     style="font-size: 12pt"><b>Общие</b></font><font
            size="3" style="font-size: 12pt"><span style="letter-spacing: -0.2pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>положения</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Настоящий Договор является официальным
                предложением Публичной оферты (далее
                – «Оферта») Индивидуального
                предпринимателя Семёнова Ивана
                Геннадьевича, ИНН 253814202111, ОГРНИП
                325253600000984, именуемый в дальнейшем
                «Исполнитель»,<span style="letter-spacing: -0.2pt">
		для любого юридического или физического
		лица (далее – «Заказчик»), обладающему
		необходимой право- и дееспособностью
		для заключения и исполнения настоящего
		Договора, на предусмотренных в нем
		условиях,</span> <span style="letter-spacing: -0.2pt">вместе
		именуемые «Стороны». </span>
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
		<span style="letter-spacing: -0.2pt">Настоящая Оферта
		размещена на интернет-сайте Исполнителя
		(далее – «Сайт») по адресу
		</span>https://reelsscanner.com/about/ <span style="letter-spacing: -0.2pt">в
		открытом доступе.</span></p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                В соответствии с пунктом 2 статьи 437
                Гражданского Кодекса Российской
                Федерации (ГК РФ), в случае принятия
                изложенных ниже условий и прохождения
                успешной процедуры регистрации на
                Сайте Исполнителя, юридическое или
                физическое лицо, производящее акцепт
                этой Оферты, становится Заказчиком. В
                соответствии с пунктом 3 статьи 438 ГК
                РФ акцепт Оферты равносилен заключению
                Договора на условиях, изложенных в
                Оферте.
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                Моментом полного и безоговорочного
                принятия Заказчиком предложения
                Исполнителя заключить Договор оферты
                (акцептом оферты) считается факт
                заполнения персональными данными
                регистрационной анкеты Пользователя
                и отправки ее Исполнителю на Сайте, в
                соответствии с условиями настоящего
                Договора. Настоящий Договор считается
                заключенным между Заказчиком и
                Исполнителем с момента нажатия
                Заказчиком кнопки для отправки
                регистрационной анкеты Пользователя
                на Сайте Исполнителя. В случае несогласия
                с настоящей Офертой Пользователь/Заказчик
                обязан немедленно прекратить
                использование функционала
                Сайта&nbsp;<font color="#0000ff"><u><a href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>
                и покинуть Сайт.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                Осуществляя акцепт Договора в порядке,
                определенном п. 1.4 Договора, Заказчик
                подтверждает, что он ознакомлен,
                согласен, полностью и безоговорочно
                принимает все условия Договора в том
                виде, в каком они изложены в тексте
                Договора, в том числе в приложениях к
                данному Договору, являющихся его
                неотъемлемой частью.</p>
            <li><p lang="ru-RU" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                Правила и порядок обработки персональных
                данных пользователей сайта изложены
                в Политике конфиденциальности,
                опубликованной на Сайте по адресу
                https://reelsscanner.com/about/.
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                К отношениям между Заказчиком и
                Исполнителем в части оказания возмездных
                услуг применяются положения Гражданского
                кодекса РФ, а также Закон РФ «О защите
                прав потребителей» от 07.02.1992 г. № 2300-1
                и иные правовые акты, принятые в
                соответствии с ними.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0.01cm">
                Закон РФ «О защите прав потребителей»
                от 07.02.1992 г. № 2300-1 не распространяется
                на юридических лиц и индивидуальных
                предпринимателей, заказывающих Услуги
                для предпринимательской деятельности.</p>
        </ol>
</ol>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.5cm; margin-right: 0.4cm; margin-top: 0.01cm">
    <br/>

</p>
<ol start="2">
    <li><p lang="ru-RU" align="center"><font size="3" style="font-size: 12pt"><b>Предмет</b></font><font size="3"
                                                                                                         style="font-size: 12pt"><span
            style="letter-spacing: -0.2pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>договора</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Предметом настоящего Договора является
                безвозмездное или возмездное оказание
                услуг Исполнителем путем предоставления
                Заказчику доступа к Сервису Сайта
                (далее – «Услуги»), в объеме, сроки и
                за размер оплаты согласно прейскуранту
                Исполнителя.
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Доступ к Сервису Заказчик получает:</p>
        </ol>
</ol>
<ol>
    <ul>
        <li><p lang="ru-RU" style="line-height: 115%; margin-right: -0.05cm">
            Ознакомительная версия Сервиса с
            ограниченным функционалом – после
            прохождения процедуры регистрации;</p>
        <li><p lang="ru-RU" style="line-height: 115%; margin-right: -0.05cm">
            Полная версия Сервиса с расширенным
            функционалом – после произведения
            оплаты.</p>
    </ul>
</ol>
<ol>
    <ol start="3">
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Прейскурант цен Исполнителя размещен
            на Сайте по адресу https://reelsscanner.com/about/.
        </p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Настоящий<span style="letter-spacing: -0.2pt"> </span>Договор<span style="letter-spacing: -0.2pt">
		</span>и<span style="letter-spacing: -0.2pt"> </span>приложения<span style="letter-spacing: -0.3pt">
		</span>к<span style="letter-spacing: -0.3pt"> </span>нему<span style="letter-spacing: -0.2pt">
		</span>являются<span style="letter-spacing: -0.3pt">
		</span>официальными<span style="letter-spacing: -0.2pt">
		</span>документами<span style="letter-spacing: -0.3pt">
		</span>Исполнителя<span style="letter-spacing: -0.3pt">
		</span>и неотъемлемой<span style="letter-spacing: -0.1pt">
		</span>частью<span style="letter-spacing: -0.1pt"> </span>Оферты.</p>
    </ol>
</ol>
<p lang="ru-RU" style="line-height: 115%; margin-right: 0.41cm"><br/>

</p>
<ol start="3">
    <li><p lang="ru-RU" align="center" style="margin-top: 0.09cm"><font size="3"
                                                                        style="font-size: 12pt"><b>Оформление</b></font><font
            size="3" style="font-size: 12pt"><span style="letter-spacing: -0.2pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>Заказа</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify">Для получения
                доступа к Сервису на Сайте Пользователь
                должен пройти процедуру регистрации.</p>
            <li><p lang="ru-RU" align="justify">Регистрация на
                Сайте совершается в автоматическом
                режиме без участия Исполнителя путем
                самостоятельного заполнения анкеты
                пользователя.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: 0.28cm">
                При<span style="letter-spacing: -0.4pt"> </span>регистрации<span style="letter-spacing: -0.3pt">
		</span>на<span style="letter-spacing: -0.3pt"> </span>Сайте<span style="letter-spacing: -0.3pt">
		</span>Исполнителя<span style="letter-spacing: -0.3pt">
		</span>Заказчик<span style="letter-spacing: -0.3pt">
		</span>обязуется<span style="letter-spacing: -0.3pt">
		</span>предоставить<span style="letter-spacing: -0.3pt">
		</span>следующую регистрационную информацию
                о себе:
            </p>
        </ol>
</ol>
<ul>
    <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: 0.28cm">
        Имя,
    </p>
    <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: 0.28cm">
        Номер телефона,
    </p>
    <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: 0.28cm">
        <span lang="en-US">E</span>-mail.</p>
</ul>
<ol>
    <ol start="4">
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Исполнитель<span style="letter-spacing: -0.3pt"> </span>не<span style="letter-spacing: -0.2pt">
		</span>несет<span style="letter-spacing: -0.2pt">
		</span>ответственности<span style="letter-spacing: -0.3pt">
		</span>за<span style="letter-spacing: -0.3pt"> </span>содержание<span style="letter-spacing: -0.2pt">
		</span>и<span style="letter-spacing: -0.3pt"> </span>достоверность<span style="letter-spacing: -0.3pt">
		</span>информации, предоставленной<span style="letter-spacing: -0.1pt">
		</span>Заказчиком<span style="letter-spacing: -0.1pt">
		</span>при<span style="letter-spacing: -0.1pt"> </span>регистрации
            на Сайте.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Заказчик<span style="letter-spacing: -0.3pt"> </span>несёт<span style="letter-spacing: -0.3pt">
		</span>ответственность<span style="letter-spacing: -0.3pt">
		</span>за<span style="letter-spacing: -0.4pt"> </span>достоверность<span style="letter-spacing: -0.4pt">
		</span>предоставленной<span style="letter-spacing: -0.4pt">
		</span>информации<span style="letter-spacing: -0.3pt">
		</span>при <span style="letter-spacing: -2.4pt"> </span>регистрации
            на Сайте.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            После прохождения процедуры регистрации
            на Сайте, Заказчик получает доступ в
            Личный кабинет и к Ознакомительной
            версии Сервиса.
        </p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            В Личном кабинете Заказчик получает
            возможность оплатить доступ к Полной
            версии Сервиса в соответствии с
            прейскурантом Исполнителя. Для этого
            Заказчик оформляет Заказ и нажимает
            кнопку «Купить на месяц».
        </p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            При произведении оплаты Полной версии
            Сервиса в случае, если в течение 24 часов
            с момента оплаты Заказа доступ к
            функционалу Полной версии Сервиса не
            был предоставлен в обусловленном
            прейскурантом объеме, Заказчик должен
            обратиться к Исполнителю с описанием
            проблемы, отправив сообщение на
            электронную почту или мессенджеры
            Исполнителя, указанные в разделе
            Контакты на Сайте.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Все<span style="letter-spacing: -0.4pt"> </span>информационные<span style="letter-spacing: -0.3pt">
		</span>материалы,<span style="letter-spacing: -0.4pt">
		</span>представленные<span style="letter-spacing: -0.3pt">
		</span>на<span style="letter-spacing: -0.4pt"> </span>Сайте<span style="letter-spacing: -0.3pt">
		</span><font color="#0000ff"><u><a href="https://classuper.ru/">https://reelsscanner.com/</a></u></font>
            носят справочный характер и не могут
            в полной мере передавать достоверную
            информацию об<span style="letter-spacing: 0.1pt">
		</span>определенных свойствах и
            характеристиках Сервиса. В случае
            возникновения у Заказчика вопросов,
            касающихся свойств и характеристик
            Сервиса, перед оформлением Заказа ему<span style="letter-spacing: 0.1pt">
		</span>необходимо обратиться<span style="letter-spacing: -0.1pt">
		</span>за<span style="letter-spacing: -0.1pt"> </span>консультацией
            к<span style="letter-spacing: -0.1pt"> </span>Исполнителю.</p>
    </ol>
</ol>
<p lang="ru-RU"><br/>

</p>
<ol start="4">
    <li><p lang="ru-RU" align="center"><font size="3" style="font-size: 12pt"><b>Оплата</b></font><font size="3"
                                                                                                        style="font-size: 12pt"><span
            style="letter-spacing: -0.2pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>Заказа</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                <font face="Calibri, serif">Оплата</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		Услуг Исполнителя в соответствии с
		</span></font><font face="Calibri, serif">оформленным</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">Заказом</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		на платный Сервис </span></font><font face="Calibri, serif">осуществляется</font><font
                    face="Calibri, serif"><span style="letter-spacing: -0.3pt">
		из Личного кабинета </span></font><font face="Calibri, serif">путем</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">передачи</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">Заказчиком</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">денежных</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">средств
                Исполнителю в российских рублях с
                помощью платежного шлюза на Сайте.</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">Подтверждением</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.1pt">
		</span></font><font face="Calibri, serif">оплаты</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">исполненного</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">Заказа</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">является</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">чек. </font><font color="#000000"><font face="Calibri, serif">Стоимость
                Услуг Исполнителя не облагается НДС
                на основании п. 2 ст. 346.11 НК РФ, так как
                Исполнитель применяет упрощенную
                систему налогообложения (УПД).</font></font></p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                <font face="Calibri, serif">Стоимость Услуг не
                    включает комиссию, взимаемую банками
                    или платежными системами за проведение
                    платежа.</font></p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                <font face="Calibri, serif">Комиссионные расходы
                    (при наличии таковых) Заказчик оплачивает
                    дополнительно, при этом стоимость
                    Услуг определяется как разница суммы
                    совершенного Заказчиком платежа и
                    суммы удержанной комиссии.</font></p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                <font face="Calibri, serif">Цены</font><font face="Calibri, serif"><span style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">за доступ к
                Полной версии Сервиса,</font><font face="Calibri, serif"><span style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">размещенные</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">на</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.4pt">
		</span></font><font face="Calibri, serif">Сайте,</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		а также размеры скидок </span></font><font face="Calibri, serif">могут
                быть изменены Исполнителем в одностороннем
                порядке без уведомления Заказчика.
                Новая цена вступает в силу с момента
                опубликования и не распространяется
                на оплаченные к моменту опубликования
                цены. </font>
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                <font face="Calibri, serif">Денежные</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.4pt">
		</span></font><font face="Calibri, serif">средства</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">принимаются</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.3pt">
		</span></font><font face="Calibri, serif">безналичным</font><font face="Calibri, serif"><span
                    style="letter-spacing: -0.2pt">
		</span></font><font face="Calibri, serif">платежом на
                расчетный счет Исполнителя.</font></p>
        </ol>
</ol>
<p lang="ru-RU" class="western" style="margin-top: 0.01cm"><br/>

</p>
<ol start="5">
    <li><p lang="ru-RU" align="center"><font size="3" style="font-size: 12pt"><b>Возврат</b></font><font size="3"
                                                                                                         style="font-size: 12pt"><span
            style="letter-spacing: -0.2pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>Заказа</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                В<span style="letter-spacing: -0.3pt"> </span>соответствии<span style="letter-spacing: -0.2pt">
		</span>с<span style="letter-spacing: -0.3pt"> </span>п.<span style="letter-spacing: -0.2pt">
		</span>4.<span style="letter-spacing: -0.2pt"> </span>ст.<span style="letter-spacing: -0.2pt">
		</span>26.1.<span style="letter-spacing: -0.2pt"> </span>Закона<span style="letter-spacing: -0.2pt">
		</span>РФ<span style="letter-spacing: -0.2pt"> </span>№<span style="letter-spacing: -0.2pt">
		</span>2300-I<span style="letter-spacing: -0.2pt"> </span>«О<span style="letter-spacing: -0.2pt">
		</span>Защите<span style="letter-spacing: -0.2pt"> </span>прав<span style="letter-spacing: -0.2pt">
		</span>потребителей»<span style="letter-spacing: -0.1pt">
		</span>Заказчик <span style="letter-spacing: -2.4pt">
		</span>вправе<span style="letter-spacing: -0.2pt"> </span>отказаться<span style="letter-spacing: -0.2pt">
		</span>от<span style="letter-spacing: -0.1pt"> </span>доступа
                к Сервису<span style="letter-spacing: -0.1pt"> </span>в<span style="letter-spacing: -0.2pt">
		</span>любое<span style="letter-spacing: -0.1pt"> </span>время<span style="letter-spacing: -0.1pt">
		</span>до<span style="letter-spacing: -0.2pt"> </span>момента<span style="letter-spacing: -0.2pt">
		</span>оплаты<span style="letter-spacing: -0.1pt"> </span>Заказа.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Заказчик<span style="letter-spacing: -0.3pt"> </span>не<span style="letter-spacing: -0.2pt">
		</span>вправе<span style="letter-spacing: -0.2pt"> </span>отказаться<span style="letter-spacing: -0.3pt">
		</span>от<span style="letter-spacing: -0.3pt"> </span>оплаченного<span style="letter-spacing: -0.3pt">
		</span>доступа к Сервису<span style="letter-spacing: -0.3pt">
		</span>надлежащего <span style="letter-spacing: -2.3pt">
		</span>качества,<span style="letter-spacing: -0.1pt"> так
		как Сервис на Сайте Исполнителя </span>содержит
                в себе<span style="letter-spacing: 0.1pt"> </span>индивидуально<span style="letter-spacing: -0.1pt">
		</span>определённые<span style="letter-spacing: -0.1pt">
		</span>свойства и имеет статус невозвратного,
                в соответствии с п. 2 «Перечня
                непродовольственных товаров надлежащего
                качества, не<span style="letter-spacing: 0.1pt">
		</span>подлежащих возврату или обмену на
                аналогичный товар других размера,
                формы, габарита,<span style="letter-spacing: 0.1pt">
		</span>фасона,<span style="letter-spacing: -0.4pt"> </span>расцветки<span style="letter-spacing: -0.4pt">
		</span>или<span style="letter-spacing: -0.3pt"> </span>комплектации»,<span style="letter-spacing: -0.3pt">
		</span>утвержденного<span style="letter-spacing: -0.4pt">
		</span>Постановлением<span style="letter-spacing: -0.3pt">
		</span>Правительства<span style="letter-spacing: -0.3pt">
		</span>РФ<span style="letter-spacing: -0.3pt"> </span>от<span style="letter-spacing: -2.3pt">
		</span>19.01.1998<span style="letter-spacing: -0.1pt"> </span>г. №<span style="letter-spacing: -0.1pt">
		</span>55.</p>
            <li><p lang="ru-RU" class="western" align="justify">Для возврата
                денежных средств ошибочно перечисленных
                Исполнителю, при условии неполучения
                доступа к Полной версии Сервиса,
                Заказчику необходимо заполнить
                «Заявление о возврате денежных средств».
                Данное заявление может быть составлено
                в свободной форме и должно содержать:</p>
        </ol>
</ol>
<ol start="7">
    <ul>
        <li><p lang="ru-RU" class="western" align="justify">Фамилию,
            имя и отчество,</p>
        <li><p lang="ru-RU" class="western" align="justify">контактные
            данные,</p>
        <li><p lang="ru-RU" class="western" align="justify">логин на
            Сайте,</p>
        <li><p lang="ru-RU" class="western" align="justify">собственноручную
            подпись,</p>
        <li><p lang="ru-RU" class="western" align="justify">причину
            возврата.</p>
    </ul>
</ol>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5cm">
    Заявление вместе с чеком об оплате
    Заказчик высылает Исполнителю на
    электронный адрес <span lang="en-US">support</span>@<span lang="en-US">reelsscanner</span>.<span
        lang="en-US">com</span>.
</p>
<ol>
    <ol start="4">
        <li><p lang="ru-RU" class="western" align="justify"> Возврат
            ошибочно перечисленных денежных
            средств будет осуществлен на банковский
            счет Заказчика, указанный в заявлении,
            в течение 10 (десяти) рабочих дней со
            дня получения «Заявление о возврате
            денежных средств» Исполнителем.
            Исполнитель при возврате денежных
            средств вправе удержать сумму фактически
            понесенных затрат на исполнение условий
            данного Договора, в том числе комиссии
            банков.
        </p>
    </ol>
</ol>
<p lang="ru-RU" class="western"><br/>

</p>
<ol start="6">
    <li><p lang="ru-RU" align="center"><font size="3" style="font-size: 12pt"><b>Права,</b></font><font size="3"
                                                                                                        style="font-size: 12pt"><span
            style="letter-spacing: -0.3pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>обязанности</b></font><font size="3"
                                                                                            style="font-size: 12pt"><span
            style="letter-spacing: -0.4pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>и</b></font><font size="3" style="font-size: 12pt"><span
            style="letter-spacing: -0.3pt"><b>
	</b></span></font><font size="3" style="font-size: 12pt"><b>ответственность</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                За неисполнение или ненадлежащее
                исполнение обязательств по настоящей
                Оферте Стороны несут ответственность
                в соответствии с законодательством
                Российской Федерации.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель обязуется предоставить
                Заказчику доступ к Сервису Сайта в
                объеме и в течение времени согласно
                выбранным/оплаченным Услугам.
            </p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель имеет право в любое время
                без согласования с Заказчиком вносить
                изменения в интерфейс Сайта и функционал
                Сервиса, а также полностью закрыть
                Сайт.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель вправе вносить изменения
                в настоящую Оферту в любое время, в том
                числе без уведомления Заказчика путем
                размещения Оферты в новой редакции по
                постоянному адресу на Сайте.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель<span style="letter-spacing: -0.3pt"> </span>не<span style="letter-spacing: -0.3pt">
		</span>несет<span style="letter-spacing: -0.4pt">
		</span>ответственности<span style="letter-spacing: -0.4pt">
		</span>за<span style="letter-spacing: -0.4pt"> </span>ненадлежащее<span style="letter-spacing: -0.3pt">
		</span>использование<span style="letter-spacing: -0.3pt">
		</span>Сервиса<span style="letter-spacing: -0.3pt">
		</span>Заказчиком, доступ к которому был
                получен<span style="letter-spacing: -0.1pt"> </span>на
                Сайте Исполнителя.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель не несет ответственности
                за невозможность оказания Услуг по
                предоставлению доступа к Сервису
                Заказчику по причинам, не зависящим
                от Исполнителя, а именно: нарушение
                работы Интернета, оборудования или
                программного обеспечения со стороны
                Заказчика. В данном случае Услуги
                считаются оказанными надлежащим
                образом и подлежащим оплате в полном
                размере.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Исполнитель<span style="letter-spacing: -0.2pt"> </span>вправе<span style="letter-spacing: -0.3pt">
		</span>передавать<span style="letter-spacing: -0.3pt">
		</span>свои<span style="letter-spacing: -0.3pt"> </span>права<span style="letter-spacing: -0.2pt">
		</span>и<span style="letter-spacing: -0.3pt"> </span>обязанности<span style="letter-spacing: -0.3pt">
		</span>по<span style="letter-spacing: -0.2pt"> </span>исполнению<span style="letter-spacing: -0.3pt">
		</span>Заказов<span style="letter-spacing: -0.2pt"> </span>третьим
                лицам, при этом оставаясь ответственным
                перед Заказчиком по настоящему Договору.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Заказчик обязуется немедленно прекратить
                пользование Сервисом по истечению
                срока действия оплаченного прейскуранта
                и не предпринимать самостоятельных
                попыток к восстановлению доступа без
                согласования с Исполнителем.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Заказчик имеет право через Личный
                кабинет на Сайте в любое время запросить
                изменения своих персональные данные,
                а также отозвать обработку своих
                персональных данных и удалить аккаунт
                на Сайте.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                <u><b>Пользователю и Заказчику запрещено
                    совершать следующие действия:</b></u></p>
        </ol>
</ol>
<ol start="6">
    <ol start="10">
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Любым способом посредством Сайта
                <font color="#0000ff"><u><a href="https://reelsscanner.com/">https://reelsscanner.com</a></u></font>
                размещать, распространять, сохранять,
                загружать и/или уничтожать материалы
                (информацию) в нарушение законодательства
                РФ и международного законодательства;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Размещать и/или передавать посредством
                Сайта информацию в виде текста,
                изображения, видео, звука или программного
                кода, которая может быть противозаконной,
                угрожающей, оскорбительной,
                клеветнической, заведомо ложной,
                грубой, непристойной, вредить другим
                Пользователям, нарушать их права;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Уничтожать и/или изменять любые
                материалы на Сайте, правообладателем
                которых Пользователь не является;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Использовать Сервис не по его прямому
                назначению, а именно не для поиска и
                фильтрации популярных Instagram Reels;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                В период пользования Сервисом вносить
                технологические изменения в
                функциональность Сервиса, пытаться
                его скопировать или каким-либо иным
                способом влиять на его работу;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Создавать помехи в использовании
                Сайта и Сервиса другим Пользователям,
                что включает в себя, в частности,
                распространение компьютерных вирусов,
                порчу данных, постоянную рассылку
                повторяющейся информации и тому
                подобные действия, выходящие за рамки
                нормального целевого использования
                Сайта, и способные повлечь сбои в его
                работе;</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
                Имитировать и/или подделывать любые
                заголовки пакета TCP/IP Сайта или любой
                их части заголовков в любом электронном
                письме или в размещенном на них
                материале;</p>
        </ol>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Исполнитель не несет ответственности
            за содержание и достоверность информации,
            предоставленной Заказчиком при
            использовании функций Сайта и Сервиса.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Пользователь не вправе пользоваться
            чужими учетными записями (аккаунтом),
            а также передавать свои учетные данные
            третьему лицу и обязуется соблюдать
            все необходимые меры предосторожности
            для воспрепятствования использованию
            учетных данных Пользователя третьими
            лицами, и является единственно
            ответственным за любые последствия,
            связанные с получением третьими лицами
            учетных данных Пользователя. Все
            действия, совершенные с использованием
            учетных данных Пользователя, являются
            действиями Пользователя.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            В случае нарушения Заказчиком условий
            настоящего Договора, Исполнитель имеет
            право отозвать доступ Заказчика к
            Сайту и Сервису, с последующим
            расторжением настоящего Договора в
            одностороннем порядке.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            В случае наличия сомнений относительно
            правомерности использования Заказчиком
            Сайта и Сервиса, Исполнитель вправе в
            любое время и без предварительного
            уведомления Заказчика по своему
            усмотрению удалить, блокировать
            Заказчика на Сайте.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Исполнитель вправе в любое время, в
            том числе без какого-либо предварительного
            уведомления Пользователей, приостанавливать
            работу Сайта для проведения
            профилактических работ.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Все<span style="letter-spacing: -0.2pt"> </span>претензии<span style="letter-spacing: -0.2pt">
		</span>по<span style="letter-spacing: -0.3pt"> </span>ненадлежащему<span style="letter-spacing: -0.2pt">
		</span>исполнению<span style="letter-spacing: -0.3pt">
		</span>заказа<span style="letter-spacing: -0.2pt"> </span>Заказчик<span style="letter-spacing: -0.2pt">
		</span>вправе<span style="letter-spacing: -0.2pt"> </span>направить<span style="letter-spacing: -0.2pt">
		</span>на<span style="letter-spacing: -0.3pt"> </span>адрес<span style="letter-spacing: -2.4pt">
		</span>электронной почты <span lang="en-US">support</span>@<span lang="en-US">reelsscanner</span>.<span
                lang="en-US">com</span>.</p>
    </ol>
</ol>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; text-indent: 0.5cm">
    <br/>

</p>
<ol start="6">
    <li><p lang="ru-RU" align="center" style="line-height: 115%; margin-right: -0.05cm">
        <font size="3" style="font-size: 12pt"><b>Ограниченная
            гарантия</b></font></p>
</ol>
<ol start="7">
    <ol>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Никакая информация, материалы и/или
            консультации, предоставляемые
            Исполнителем в рамках настоящей Оферты,
            не могут рассматриваться как гарантии.
            Принятие решений на основе всей
            предоставленной информации на Сайте
            находится в исключительной компетенции
            Пользователя. Пользователь принимает
            на себя полную ответственность и риски,
            связанные с использованием информации
            и материалов, предоставленных на Сайте.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Исполнитель не гарантирует, что
            программное обеспечение Сайта не
            содержит ошибок и/или компьютерных
            вирусов, или посторонних фрагментов
            кода. Пользователю предоставляется
            возможность пользоваться программным
            обеспечением Сайта «как оно есть», без
            каких-либо гарантий со стороны
            Исполнителя. Исполнитель не несет
            ответственности за прямой или косвенный
            ущерб, понесенный Заказчиком в результате
            ошибок, пропусков, перерывов в работе,
            изменения функций, дефектов, задержек
            в работе доступа к Сайту и Сервису.</p>
        <li><p lang="ru-RU" class="western" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Сайт является лишь средством для
            передачи публично доступной информации<font color="#333333"><font face="Helvetica, serif"><font size="2"
                                                                                                            style="font-size: 10pt"><span
                style="background: #ffffff">
		</span></font></font></font>из Instagram, а именно
            публично опубликованные Reels, описание
            профиля автора Reels, название аккаунта
            Instagram. Исполнитель не несет ответственности
            за достоверность и актуальность
            передаваемой посредством Сайта
            информации.</p>
        <li><p lang="ru-RU" class="western" align="justify" style="line-height: 115%; margin-right: -0.05cm">
            Исполнитель обеспечивает функционирование
            и работоспособность Сайта и Сервиса,
            обязуется оперативно восстанавливать
            его работоспособность в случае
            технических сбоев и перерывов.
            Исполнитель не несет ответственности
            за временные сбои и перерывы в работе
            Сайта и вызванные ими потерю информации,
            а также за любой ущерб компьютеру
            Пользователя или иного лица, мобильным
            устройствам, любому другому оборудованию
            или программному обеспечению, вызванный
            или связанный со скачиванием материалов
            с Сайта или по ссылкам, размещенным на
            Сайте.</p>
        <li><p lang="ru-RU" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Исполнитель не несет ответственности
            за способы использования информации
            и материалов Сайта Пользователем/Заказчиком,
            а также нарушения авторских прав при
            использовании материалов
            Пользователем/Заказчиком, к которым
            он получил доступ с помощью Сайта и
            Сервиса.</p>
        <li><p lang="ru-RU" class="western" align="justify"
               style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Исполнитель не несет ответственность
            перед Заказчиком/Пользователем или
            перед любыми третьими лицами за любой
            косвенный, случайный, неумышленный
            ущерб, включая упущенную выгоду или
            потерянные данные, вред чести, достоинству
            или деловой репутации, вызванный в
            связи с использованием Сайта, содержимого
            Сайта или иных материалов, к которым
            Заказчик/Пользователь или иные лица
            получили доступ с помощью Сайта,
            возникшие не по вине Исполнителя.</p>
        <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; margin-top: 0cm">
            Исполнитель не несёт ответственности
            за несоответствие предоставленного
            Сервиса ожиданиям Заказчика и/или за
            его субъективную оценку, такое
            несоответствие ожиданиям и/или
            отрицательная субъективная оценка не
            являются основаниями считать Сервис
            некачественным, или не в согласованном
            объёме.</p>
    </ol>
</ol>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm; text-indent: 0.5cm">
    <br/>

</p>
<ol start="7">
    <li><p lang="ru-RU" align="center" style="line-height: 115%; margin-right: -0.05cm">
        <font size="3" style="font-size: 12pt"><b>Разрешение
            споров по договору</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Все споры или разногласия, возникающие
                между Сторонами по настоящему договору
                или в связи с ним, разрешаются путем
                переговоров между Сторонами.</p>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                В случае невозможности разрешения
                разногласий путем переговоров между
                Сторонами, они подлежат рассмотрению
                в суде общей юрисдикции по месту
                нахождения Исполнителя.
            </p>
        </ol>
</ol>
<p lang="ru-RU" class="western" align="justify" style="line-height: 115%; margin-right: -0.05cm">
    <br/>

</p>
<ol start="7">
    <li><p lang="ru-RU" align="center" style="orphans: 2; widows: 2; border: none; padding: 0cm">
        <font face="Calibri, serif"><font size="3" style="font-size: 12pt"><b>Форс-мажор</b></font></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify"
                   style="line-height: 115%; orphans: 2; widows: 2; border: none; padding: 0cm">
                <font face="Calibri, serif">Стороны не несут
                    ответственность за неисполнение либо
                    ненадлежащее исполнение обязательств
                    по настоящему договору, если докажут,
                    что это произошло вследствие наступления
                    обстоятельств непреодолимой силы
                    (форс-мажор), которые стороны не могли
                    ни предвидеть, ни предотвратить. К
                    форс-мажорным обстоятельствам относятся,
                    в частности: военные действия, пожар,
                    стихийные бедствия, военные операции
                    любого характера, блокады, запрет на
                    экспорт или импорт, забастовки,
                    гражданские волнения, задержки
                    вследствие аварии или неблагоприятных
                    погодных условий, эпидемии, пандемии,
                    чрезвычайные ситуации, в том числе в
                    сфере здравоохранения.</font></p>
            <li><p lang="ru-RU" align="justify"
                   style="line-height: 115%; orphans: 2; widows: 2; border: none; padding: 0cm">
                <font face="Calibri, serif">При наступлении
                    обстоятельств, указанных в пункте 8.1
                    настоящего Договора, сторона должна
                    уведомить о них в письменном виде
                    другую сторону в течение 3 (трех) рабочих
                    дней с момента наступления указанных
                    обстоятельств. Извещение должно
                    содержать данные о характере
                    обстоятельств, а также, по возможности,
                    документы, подтверждающие наступление
                    указанных обстоятельств.</font></p>
            <li><p lang="ru-RU" align="justify"
                   style="line-height: 115%; orphans: 2; widows: 2; border: none; padding: 0cm">
                <font face="Calibri, serif">В случае наступления
                    обстоятельств, предусмотренных в
                    пункте 8.1 Договора, срок выполнения
                    стороной обязательств отодвигается
                    соразмерно времени, в течение которого
                    действуют эти обстоятельства и их
                    последствия.</font></p>
            <li><p lang="ru-RU" align="justify"
                   style="line-height: 115%; orphans: 2; widows: 2; border: none; padding: 0cm">
                <font face="Calibri, serif">Если наступившие
                    обстоятельства, перечисленные в пункте
                    8.1 Договора, и их последствия продолжают
                    действовать более двух месяцев, стороны
                    проводят дополнительные переговоры
                    для выявления альтернативных способов
                    исполнения настоящего Договора.</font></p>
        </ol>
</ol>
<p lang="ru-RU" class="western" align="justify" style="line-height: 115%; margin-right: -0.05cm; text-indent: 0.25cm">
    <br/>

</p>
<ol start="7">
    <li><p lang="ru-RU" align="center" style="line-height: 115%; margin-right: -0.05cm">
        <font size="3" style="font-size: 12pt"><b>Заключительные
            положения</b></font></p>
        <ol>
            <li><p lang="ru-RU" align="justify" style="line-height: 115%; margin-right: -0.05cm">
                Во всем, что не урегулировано настоящим
                Договором, Стороны руководствуются
                законодательством РФ.</p>
            <li><p lang="ru-RU" align="justify"><font face="Calibri, serif">Стороны
                обязаны уведомлять друг друга об
                изменении своего местонахождения,
                контактных данных, банковских и иных
                реквизитов, которые могут повлиять на
                исполнение Сторонами своих обязательств,
                вытекающих из Договора в течение 3
                рабочих дней с даты изменения
                соответствующих реквизитов.</font></p>
        </ol>
</ol>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <br/>

</p>
<ol start="7">
    <li><p lang="ru-RU" align="center" style="line-height: 115%; margin-right: -0.05cm">
        <font face="Calibri, serif"><font size="3" style="font-size: 12pt"><b>Реквизиты
            Исполнителя</b></font></font></p>
</ol>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <font face="Calibri, serif"><b>ИП Семёнов Иван
        Геннадьевич </b></font>
</p>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <font face="Calibri, serif">ИНН 253814202111</font></p>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm"><a
        name="_GoBack"></a>
    <font face="Calibri, serif">ОГРНИП 325253600000984</font></p>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <font face="Calibri, serif"><span lang="en-US">E-mail:
</span></font><span lang="en-US">support@reelsscanner.com.</span></p>
<p align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <br/>

</p>
<p lang="ru-RU" align="justify" style="line-height: 115%; margin-left: 0.18cm; margin-right: -0.05cm">
    <font face="Calibri, serif"><font size="3" style="font-size: 12pt"><b>*
        Instagram принадлежит компании Meta Platforms
        Inc., признанной экстремистской и
        запрещённой на территории РФ.</b></font></font></p>
</body>
</html>